body {
  background: url("../images/seamlessFelt.jpg") repeat;
  /*background-color: #669A40;*/
  margin: 0;
  padding: 0;
  font-family: 'Bangers', cursive;
  color: white;

}
h1 {
  position: absolute;
  right: 5%;
  top: 15%;
  font-size: 4em;
}
img {
  width: 120px;
  height:180px;
}
#deck {
  float: left;
  clear:right;
  width:98%;
  margin: 2% 0 0 2%;
}
#playerCards {
  width: 100%;
  text-align: center;
  margin-top:0%;
}
#dealerCards {
  width: 100%;
  text-align:center;
  position: relative;
  bottom: 7em;
}
.playerCard {
  display:inline-block;
}
.dealerCard {
  display:inline-block;
}
.button {
  display: inline-block;
}
button {

  border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 15px 30px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 1.5em;
   font-family: 'Bangers', cursive;
   text-decoration: none;
   vertical-align: middle;
}
button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
#playerButtons {
  width:100%;
  text-align: center;
  margin-top: 1%;
  display: block;
}
#sideOfTable {
  float:right;
  display:block;
  padding: 10% 0;
  position: absolute;
  right: 5%;
  top: 45%;
}
#wallet {
  margin-bottom: 10%;
  color: white;
  padding: 2%;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  body {
    padding-top:100px;
  }
  h1 {
    top:2%;
    right: 15%;
  }
  img {
    width:80px;
    height:120px;
  }
  #sideOfTable {
  display:inline-block;
  position:absolute;
  width: 100%;
  margin-top: 10%;
  left:25%;
  }
  button {
    padding: 10px 20px;
    font-size: 1em;
  }
  #playerCards {
    margin-top: 10%;
  }
  #dealerCards {
    margin-top: 40%;
  }
  #deck {
    display:none;
  }
  #wallet {
    margin-bottom:5%;s
  }
  #playerButtons {
    margin-top: 5%;
  }
}
@media (max-width: 800px){
  #sideOfTable {
    display:inline-block;
    top:32%;
    right: 30%;
  }
  button {
    padding: 10px 20px;
  }
}
